<%= form_with(model: course, local: true, command: command) do |f| %>
  <% @coordinator ||= current_coordinator %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :prerequisite %>
        <%= f.text_field :prerequisite, class: 'form-control' %>

        <% if @coordinator.adminflag == true %>
          <%= f.label :coordinator_id %>
          <%= f.select :coordinator_id,
          Coordinator.all.order(:name).collect{
            |coordinator| [( coordinator.name), coordinator.id]
          }%>

        <% else %>
        <%= f.hidden_field :coordinator_id, value: @coordinator.id %>
        <% end %>

        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>

        <%= f.label :Category %>
        <div class="control-label">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :show_name do |b|%>
          <%= b.label class:"checkbox" do %>
          <%= b.label { b.check_box+b.text } %>
            <% end %>
          <% end %>
        </div>

        <%= f.label :Location %>
        <div class="control-label">
          <%= f.collection_check_boxes :location_ids, Location.all, :id, :show_name do |b|%>
            <%= b.label class:"checkbox" do %>
            <%= b.label {b.check_box+b.text} %>
            <% end %>
          <% end %>
        </div>

        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control'%>

        <%= f.submit command, class: "btn btn-primary" %>

    </div>
  </div>
<% end %>
