<p id="notice"><%= notice %></p>

<h1>Courses</h1>

    <% @courses.each do |course| %>
      <tr>
        <div class="col " style="background: #fff;"">
          <aside class="">
            <section class="user_info">
              <%= link_to gravatar_for(course.coordinator), course%>
                <h4><b>Name: </b> <%= course.name %>
                   <% if course.coordinator != nil %>
                   <b>Coordinator: </b>  <%= link_to course.coordinator.name, course.coordinator%>
                   <% else %>
                   <strong> No Coordinator</strong>
                   <% end %>
                 </h4>
                <h4><b>Email: </b> <%= course.prerequisite %></h4>
                <h4><b>Like: </b> <%= course.like.to_i %> <b>Dislike: </b> <%= course.dislike.to_i %> </h4>
            </section>
          </aside>
        </div>
      </tr>
    <% end %>
