<h1> <b>Course</b></h1>
<h1><%= @course.name %></h1>
<div class="nav-bar">


  <% if logged_in? && (@course.coordinator == current_coordinator || current_coordinator.adminflag == true)%>
  <strong>
  <%= button_to "Edit the course", edit_course_path(@course),
  method: :get, class:"button_to" %></strong>
  <% end %>

  <% if logged_in? && (current_coordinator.adminflag == true)%>
  <strong>
  <%= button_to "Delete the course", course_path(@course),
  method: :delete, class:"button_to" %></strong>
  <% end %>

</div>

<div class="col" style="background: #A9A9A9;"">

  <aside class="container">
    <section class="user_info">
      <% if @course.image.attached? %>
        <%= image_tag(@course.image, style:'width:10%', class: "gravatar") %>
      <% else %>
        <%= gravatar_for(@course.coordinator) %>
      <% end %>

        <h4><b>Name: </b> <%= @course.name %>
          <% if @course.coordinator != nil %>
          <b>Coordinator: </b> <%= link_to @course.coordinator.name, @course.coordinator%>
          <% else %>
          <strong> No Coordinator</strong>
          <% end %>
        </h4>


        <h4><b>Prerequisite: </b> <%= @course.prerequisite %></h4>

        <% if @course.locations.length > 0 %>
          <h4><strong>Locations: </strong>
          <% for location in @course.locations do%>
          <%= link_to location.name, '#'%>
          <% end %>
          </h4>
        <% else %>
          <h4><strong>Location</strong>: None</h4>
          <% end %>

          <% if @course.categories.length > 0 %>
            <h4><strong>Categories: </strong>
            <% for category in @course.categories do%>
            <%= link_to category.name, '#'%>
            <% end %>
            </h4>
          <% else %>
            <h4><strong>Categories: </strong> None </h4>
          <% end %>

          <% if @course.description != 0 %>
            <h4><strong>Description: </strong>
            <%= @course.description %>
            </h4>
          <% else %>
            <h4>Description: None</h4>
          <% end %>

          <h4><strong> Created from: </strong> <%= time_ago_in_words(@course.created_at)%>
        </h4>




    </section>
  </aside>
</div>
