<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid" >
    <%= link_to "Course Management System", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Home",   root_path , class: "btn btn-lg btn-light"  %></li>

        <li class="dropdown">
          <a class="dropdown-toggle btn btn-lg btn-light" data-toggle="dropdown" href="#">Category
          <span class="caret"></span></a>
          <ul class="dropdown-menu">

              <% @categories.each do |category| %>
              <li><%= link_to category.name, category_courses_path(category) , class: "btn btn-block btn-light btn-outline-dark"  %></li>
              <% end %>
              <% if logged_in? %>
                <li><%= link_to "Create Category", new_category_path, class: "btn btn-block btn-light btn-outline-dark"   %></li>
              <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle btn btn-lg btn-light" data-toggle="dropdown" href="#">Location
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <% @locations.each do |location| %>
              <li><%= link_to location.name, location_courses_path(location) , class: "btn btn-block btn-dark"  %></li>
              <% end %>
              <li class="divider"</li>
              <% if logged_in? %>
                <li><%= link_to "Create Location",   new_location_path %></li>
              <% end %>
          </ul>
        </li>

        <li><%= link_to "Course",   courses_path , class: "btn btn-lg btn-light"  %></li>
        <li><%= link_to "Coordinator",   coordinators_path , class: "btn btn-lg btn-light"  %></li>

        <% if logged_in? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-lg btn-light " data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_coordinator %></li>
              <li><%= link_to "Settings", edit_coordinator_path(current_coordinator) %></li>
              <li><%= link_to "Create New Course", new_course_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-block btn-dark" %>
              </li>
            </ul>
          </li>
        <% else %>
        <li><%= link_to "Login",   login_path , class: "btn btn-lg btn-light"  %></li>
        <% end %>


      </ul>
    </nav>
  </div>
</header>
